header {
  background-image: url("../assets/dev-space01.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  header h1 {
    margin-top: 0;
    padding-top: 10px;
    font-family: "Marvel", sans-serif;
    font-size: 3em; }
  header img {
    width: 98px;
    height: 98px; }
  header h4 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-family: "Raleway", sans-serif;
    font-size: 1em; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 95%;
    padding-bottom: 20px; }
    header nav .nav-item {
      margin: 5px;
      border: 2px solid white;
      text-align: center;
      font-size: 1em;
      font-family: "Oswald", sans-serif;
      width: 25%; }
      header nav .nav-item a, header nav .nav-item a:visited {
        text-decoration: none;
        color: white; }

h1, h2 {
  font-family: "Marvel", sans-serif; }

hr {
  color: #ddd;
  width: 85%; }

section {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  color: #333; }
  section a, section a:hover, section a:visited, section a:active {
    text-decoration: none;
    color: inherit; }
  section p {
    font-family: "Raleway", sans-serif;
    text-align: justify; }
    section p a {
      text-decoration: underline; }
  section h2 {
    text-align: center; }

.about img {
  width: 100px;
  height: 100px; }

.skills .skill-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 80%;
  margin: 0 auto; }
  .skills .skill-images img {
    width: 48px;
    height: 48px;
    margin: 0px 5px 15px; }
.skills .skill-info {
  margin: 0 auto;
  width: 85%;
  height: 30vh;
  background: #ddd; }

footer {
  font-family: "Marvel", sans-serif;
  color: white;
  width: 100%;
  text-align: center;
  background: #333;
  margin-bottom: 0px;
  height: 50px; }
  footer p {
    vertical-align: middle;
    line-height: 50px;
    margin: 0px;
    font-size: 0.9em; }
    footer p a, footer p a:hover, footer p a:visited, footer p a:active {
      text-decoration: underline;
      color: white; }
